
@{
    ViewBag.Title = "AddFURNACEINDUCTORAREADING";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/assets/img/favicon.html">
    <title>Set Budget</title>
    <link rel="stylesheet" href="/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Add FURNACE INDUCTOR A READING
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("FuranceInductorGraphPage","Home")" class="btn btn-round btn-primary right-side"><i class="fa fa-chart-line"> Graph</i></a>
                    <a href="@Url.Action("ListofFuranceInductorAReading","Home")" class="btn btn-round btn-primary right-side"><i class="fa fa-list"> List</i></a>
                </li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">

                <div class="col-md-12">
                    <!-- Horizontal Form -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title" style="margin-left:1%;"> Add FURNACE INDUCTOR A READING </h3>
                        </div>

                        @*<table class="table table-responsive" style="margin-left:0%; width: 80%; font-size: 0.9em;">*@
                        <table class="table table-responsive" style="margin-left:0%;">
                            <tr>
                                <td>
                                    <label for="exampleCity" class=""> Date of Reading</label>
                                </td>
                                <td>
                                    <input name="DateofReading" id="DateofReading" type="datetime-local" style="color:black" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="exampleCity" class=""> POWER (KW)</label>
                                </td>
                                <td>
                                    <input name="Power" id="Power" type="number" style="color:black" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="2">
                                    <label for="exampleCity" class="">Line</label>
                                </td>
                                <td>
                                    <label for="exampleCity" class="">AMPS</label>
                                </td>
                                <td>
                                    <input name="LineAMPS" id="LineAMPS" type="number" style="color:black" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="exampleCity" class="">P.F.</label>
                                </td>
                                <td>
                                    <input name="LinePF" id="LinePF" type="number" style="color:black" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="3">
                                    <label for="exampleCity" class="">Load</label>
                                </td>
                                <td>
                                    <label for="exampleCity" class="">AMPS</label>
                                </td>
                                <td>
                                    <input name="LoadAMPS" id="LoadAMPS" type="number" style="color:black" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="exampleCity" class="">P.F.</label>
                                </td>
                                <td>
                                    <input name="LoadPF" id="LoadPF" type="number" style="color:black" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="exampleCity" class="">VOLTS</label>
                                </td>
                                <td>
                                    <input name="LoadVolts" id="LoadVolts" type="number" style="color:black" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="exampleCity" class="">Cond. Ratio</label>
                                </td>
                                <td>
                                    <input name="Ratio" id="Ratio" type="number" style="color:black" class="form-control" readonly>
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="4">
                                    <label for="exampleCity" class="">Bushing</label>
                                </td>
                                <td>
                                    <label for="exampleCity" class="">Temp G1</label>
                                </td>
                                <td>
                                    <input name="BushingTempG1" id="BushingTempG1" type="number" style="color:black" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="exampleCity" class="">Temp G2</label>
                                </td>
                                <td>
                                    <input name="BushingTempG2" id="BushingTempG2" type="number" style="color:black" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="exampleCity" class="">Temp G3</label>
                                </td>
                                <td>
                                    <input name="BushingTempG3" id="BushingTempG3" type="number" style="color:black" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="exampleCity" class="">Temp G4</label>
                                </td>
                                <td>
                                    <input name="BushingTempG4" id="BushingTempG4" type="number" style="color:black" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="3">
                                    <label for="exampleCity" class="">Current</label>
                                </td>
                                <td>
                                    <label for="exampleCity" class="">R</label>
                                </td>
                                <td>
                                    <input name="CurrentR" id="CurrentR" type="number" style="color:black" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="exampleCity" class="">S</label>
                                </td>
                                <td>
                                    <input name="CurrentS" id="CurrentS" type="number" style="color:black" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="exampleCity" class="">T</label>
                                </td>
                                <td>
                                    <input name="CurrentT" id="CurrentT" type="number" style="color:black" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <a><button class="mt-2 btn btn-primary btn round center" onclick="SetReadingA()">Create</button></a>
                                </td>
                            </tr>
                        </table>

                    </div>
                    <!-- /.box -->

                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>

    <!-- jQuery 3 -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- DataTables -->
    <script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/Downloadablecdnlink/xlsx.full.min.js"></script>
    <script src="~/bower_components/select2/dist/js/select2.full.min.js"></script>
    <script>
        function SetReadingA() {
            var DateofReading = document.getElementById("DateofReading").value;
            var Power = document.getElementById("Power").value;
            var LineAMPS = document.getElementById("LineAMPS").value;
            var LinePF = document.getElementById("LinePF").value;
            var LoadAMPS = document.getElementById("LoadAMPS").value;
            var LoadPF = document.getElementById("LoadPF").value;
            var LoadVolts = document.getElementById("LoadVolts").value;
            var Ratio = document.getElementById("Ratio").value;
            var BushingTempG1 = document.getElementById("BushingTempG1").value;
            var BushingTempG2 = document.getElementById("BushingTempG2").value;
            var BushingTempG3 = document.getElementById("BushingTempG3").value;
            var BushingTempG4 = document.getElementById("BushingTempG4").value;
            var CurrentR = document.getElementById("CurrentR").value;
            var CurrentS = document.getElementById("CurrentS").value;
            var CurrentT = document.getElementById("CurrentT").value;
            $.ajax({
                url: '/api/Inventory/AddFuranceReadingA',
                dataType: 'json',
                type: 'Post',
                data: {
                    DateofReading: DateofReading,
                    Power: Power,
                    LineAMPS: LineAMPS,
                    LinePF: LinePF,
                    LoadAMPS: LoadAMPS,
                    LoadPF: LoadPF,
                    LoadVolts: LoadVolts,
                    Ratio: Ratio,
                    BushingTempG1: BushingTempG1,
                    BushingTempG2: BushingTempG2,
                    BushingTempG3: BushingTempG3,
                    BushingTempG4: BushingTempG4,
                    CurrentR: CurrentR,
                    CurrentS: CurrentS,
                    CurrentT: CurrentT
                },

                success: function (data) {
                    if (data == true) {
                        alert("Successfully Registered");
                        location.reload();
                    } else {
                        alert("Something went wrong");
                    }
                }
            })
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            function calculateRatio() {
                var amps = parseFloat($('#LoadAMPS').val());
                var power = parseFloat($('#Power').val());

                if (!isNaN(amps) && !isNaN(power) && power !== 0) {
                    var ratio = (amps * amps) / (power * 10 * 6.93);
                    $('#Ratio').val(ratio.toFixed(2));
                } else {
                    $('#Ratio').val('');
                }
            }

            $('#LoadAMPS, #Power').on('input', function () {
                calculateRatio();
            });
        });
    </script>

</body>

</html>